.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}

.imageContainer {
  width: 100%;
  height: 320px;
  background-color: var(--color-gray-100);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.image {
  object-fit: cover;
  /* padding: var(--spacing-sm); */
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

.info {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  font-size: 12px;
  color: var(--color-gray-500);
  line-height: 1.4;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: var(--color-black);
}

.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.heartBtn:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .card {
    max-width: 48%;
  }

  .imageContainer {
    height: 220px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
  }

  .imageContainer {
    height: 200px;
  }
}
