.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md) 0;
  border-top: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
  margin-bottom: var(--spacing-xl);
  position: relative;
  z-index: 10;
}

.desktopLeftGroup {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.itemCount {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.filterToggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  background: none;
  border: none;
  font-size: 14px;
  color: var(--color-gray-400);
  cursor: pointer;
  text-decoration: underline;
}

/* Custom Dropdown Styles */
.sortWrapper {
  position: relative;
  display: block;
}

.sortTrigger {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
}

.chevron {
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: var(--spacing-sm);
  background: white;
  border: 1px solid var(--color-gray-200);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm) 0;
  z-index: 20;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
  background: none;
  border: none;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: var(--color-gray-100);
}

.dropdownItem.selected {
  font-weight: 700;
}

.checkIcon {
}

.mobileFilterBtn {
  display: none;
}

.mobileDivider {
  display: none;
}

@media (max-width: 768px) {
  .filterBar {
    padding: 0;
    border-top: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
    height: 50px;
  }

  .desktopLeftGroup {
    display: none;
  }

  .mobileFilterBtn {
    display: block;
    flex: 1;
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
    text-align: center;
  }

  .mobileDivider {
    display: block;
    width: 1px;
    height: 20px;
    background-color: var(--color-gray-300);
  }

  .sortWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sortTrigger {
    font-size: 12px;
  }

  .dropdownMenu {
    right: -50%;
    right: 0;
    width: 100vw;
    max-width: 200px;
  }
}
