.contentWrapper {
  display: flex;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xxl);
  position: relative;
}

.sidebarWrapper {
  flex-shrink: 0;
}

.gridWrapper {
  flex: 1;
  width: 100%;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-xl) var(--spacing-md);
}

.withSidebar .productGrid {
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1100px) {
  .withSidebar .productGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Responsiveness */
@media (max-width: 1024px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .withSidebar .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    display: block;
  }

  .sidebarWrapper {
    margin-bottom: var(--spacing-lg);
  }

  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .withSidebar .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md) var(--spacing-sm);
  }
}
